# **Python Crash Course**

In [1]:
print("Hello World")

Hello World

In [2]:
10+12

22

In [3]:
x=10
y=20
x+y

30

In [4]:
name="Cat"

In [5]:
#Input

name=input("enter the name : ")
print(name)

NEelan

In [6]:
n1=int(input("enter the first number: "))
n2=int(input("Enter the second number: "))
print("Total: ",n1+n2)

Total:  22

In [8]:
maths=int(input("Enter the maths mark: "))
science=int(input("Enter the science mark: "))
english=int(input("Enter the english mark: "))

total=maths+science+english
print("Total: ",total)
avg=total/3
print("avg: ",avg)
if avg>=50:
    result="Pass"
else:
    result="Fail"
print("REsult:" ,result)

Total:  149
avg:  49.666666666666664
REsult: Fail

# Conditional Statement

In [13]:
maths=int(input("Enter the maths mark: "))
science=int(input("Enter the science mark: "))
english=int(input("Enter the english mark: "))

total=maths+science+english
print("Total: ",total)
avg=total/3
print("avg: ",avg)
if maths>=35 and science>=35 and english>=35: 
    result="Pass"
    if avg>=75:
        result+="Distinction"
    elif avg>=50:
        result+="FirstClass"
else:
    result="Fail"
print("REsult:" ,result)

Total:  206
avg:  68.66666666666667
REsult: Pass FirstClass

# Looping Iteration

In [14]:
for i in range(5):
    print("Hello")

Hello
Hello
Hello
Hello
Hello

In [15]:
range(5)

range(0, 5)

In [16]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [17]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [19]:
# Tables
for i in range(1,21):
    print(f"{i} X 2 ={i*2}")

1 X 2 =2
2 X 2 =4
3 X 2 =6
4 X 2 =8
5 X 2 =10
6 X 2 =12
7 X 2 =14
8 X 2 =16
9 X 2 =18
10 X 2 =20
11 X 2 =22
12 X 2 =24
13 X 2 =26
14 X 2 =28
15 X 2 =30
16 X 2 =32
17 X 2 =34
18 X 2 =36
19 X 2 =38
20 X 2 =40

In [21]:
# factorial

n=int(input("enter the number: "))
fact=1
for i in range(1,n+1):
    fact*=i
print(fact)

120

In [3]:
#prime number
n=int(input("enter the number: "))
for i in range(2,n):
    if n%i==0:
        print(f"{n} is not prime")
        break
else:
    print(f"N is prime number")

6 is not prime

In [6]:
n=int(input("enter the number: "))
r=0
while n>0:
    r=(r*10)+(n%10)
    n=n//10
    print(r)

2
24
243

In [10]:
34%10

4

In [9]:
20+32

52

In [13]:
#List
lst=[12,78,7,6,8]
lst[1]

78

In [14]:
lst[1]=34
lst

[12, 34, 7, 6, 8]

In [15]:
lst.append(7)

In [16]:
lst

[12, 34, 7, 6, 8, 7]

In [17]:
lst.index(6)

3

In [18]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [22]:
x=[10]
y=x.copy()
print(y)

[10]